<div class="movie-dialog-container flex column" id="bright">
  <div class="info-section flex">
    <div class="img-dialog"><img  src="{{ data.Poster }}" /></div>
    <div class="flex column hmax">
      <div class="movie-header flex column">
        <h1 class="title">{{ data.Title }}</h1>
        <h4>{{ data.Year }}, {{ data.Director }}</h4>
        <div class="minutes" >{{ data.Runtime }}</div>
        <p class="type">{{ data.Genre }}</p>
      </div>
      <div class="movie-desc">
        <p class="text" >
          {{ data.Plot }}
        </p>
      </div>
      <div class="movie-social flex sb">
        <div><i class="material-icons">share</i></div>
        <div><i class="material-icons"></i></div>
        <div><i class="material-icons">chat-bubble</i></div>
      </div>
    </div>
  </div>
</div>
