@font-face {
    font-family: LatoR;
    src: url(../../font/lato/Lato-Regular.ttf);
}
@font-face {
    font-family: LatoB;
    src: url(../../font/lato/Lato-Bold.ttf);
}
@font-face {
    font-family: LatoL;
    src: url(../../font/lato/Lato-Light.ttf);
}
