@font-face {
    font-family: caveat;
    src: url(../../font/Caveat/Caveat-Regular.ttf);
}
@font-face {
    font-family: LavvicB;
    src: url(../../font/Livvic/Livvic-Bold.ttf);
}
@font-face {
    font-family: LavvicSB;
    src: url(../../font/Livvic/Livvic-SemiBold.ttf);
}
@font-face {
    font-family: LatoR;
    src: url(../../font/lato/Lato-Regular.ttf);
}
@font-face {
    font-family: LatoB;
    src: url(../../font/lato/Lato-Bold.ttf);
}
@font-face {
    font-family: LatoL;
    src: url(../../font/lato/Lato-Light.ttf);
}
@font-face {
    font-family: montserratR;
    src: url(../../font/monserrate/Montserrat-Regular.ttf);
}
@font-face {
    font-family: montserratB;
    src: url(../../font/monserrate/Montserrat-Bold.ttf);
}
@font-face {
    font-family: montserratSB;
    src: url(../../font/monserrate/Montserrat-SemiBold.ttf);
}
@font-face {
    font-family: montserratM;
    src: url(../../font/monserrate/Montserrat-Medium.ttf);
}
